* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

button,
textarea,
select,
input {
    font-family: inherit;
    font-size: inherit;
}

.container {
    min-height: 100vh;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 999px;
    outline: none;
    border: none;
    background: #143c3c;
    display: inline-block;
}

.btn:hover {
    background: #83a17d;
    transition: 0.25s all;
}

/* Header */
.header {
    font-family: "Public Sans", sans-serif;
    margin-top: 28px;
    min-height: 100vh;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
}

.header-top::after {
    position: absolute;
    bottom: -12px;
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(153deg, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.navbar {
    margin: 0 88px 0 auto;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 38px;
}

.navbar__link {
    color: #575d5e;
    padding: 12px 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.navbar__link--active {
    position: relative;
    text-shadow: 0.3px 0 0 currentColor;
}

.navbar__link--active::before {
    position: absolute;
    bottom: -18px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 3px;
    background: #000;
}

.navbar__link:hover {
    text-shadow: 0.3px 0 0 currentColor;
    transition: 0.25s all;
}

/* Hero */
.hero {
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 27.2%;
}

.hero-content__heading {
    width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-content__desc {
    margin-top: 20px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.hero-content__group-link {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.hero-content__watching-btn {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 15px;
}

.hero-content__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 42px;
    border-radius: 50%;
    background: #83a17d;
}

.hero-content__icon::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 57px;
    height: 59px;
    border: 5px solid #143c3c;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

.hero-content__text {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
}

.hero-media {
    position: relative;
    display: flex;
    gap: 20px;
    margin-right: 25px;
}

.hero-media__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero-media__img:nth-child(2) {
    position: relative;
    top: 77px;
}

.hero-media__eclipse {
    position: absolute;
    left: -156px;
    top: -122px;
    z-index: -1;
}

.hero-media__icon {
    position: absolute;
}

.hero-media__line-first {
    position: absolute;
    top: -28px;
    left: -172px;
}

.hero-media__union {
    position: absolute;
    top: -18px;
    left: -210px;
    z-index: 2;
}
